{
    "SECRET_KEY": "7092844d95a3bfb252e8e6515f6306fe6da436774a7b7bfbc5b8c5a49aa3786c",
    "DB_FILENAME": "babinje.db",
    "MAIL_SERVER": "sandbox.smtp.mailtrap.io",
    "MAIL_PORT": 25,
    "MAIL_USERNAME": "f4d75f5abb4909",
    "MAIL_PASSWORD": "9674d021e0aa99",
    "MAIL_USE_TLS": true,
    "MAIL_TEMPLATE_FILENAME": "email.html",
    "MAIL_USE_SSL": false
}