.power-form-container {
  --margin-size: 4pt;
  --margin-size-2x: calc(2 * var(--margin-size));
  --margin-size-3x: calc(3 * var(--margin-size));
  --margin-size-4x: calc(4 * var(--margin-size));
  --margin-size-5x: calc(5 * var(--margin-size));
  --margin-size-6x: calc(6 * var(--margin-size));
  --margin-size-18x: calc(18 * var(--margin-size));
  --border-width: 1pt;
  --border-width-highlight: 1pt;
  --form-max-width: 180pt;
  --form-border-color-normal: #566e81;
  --form-border-color-highlight: #0061ad;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  width: 921px;
  margin: auto;

  button,
  input[type='submit'] {
    padding: 12px 31px 11px 32px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #172f43;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: #ffffff;
    border: none;
    max-width: 165px;
    margin-top: var(--margin-size-4x);
    grid-column: 3;
    margin-left: 25%; // dafuq HACKXXS

    &:active {
      transform: translateX(1px) translateY(1px);
    }
  }

  .power-form-element {
    display: block;
    float: left;
    font-size: 11pt;
    margin-right: var(--margin-size-18x);
    margin-bottom: var(--margin-size-6x);

    .required {
    }

    .not-required {
    }

    .label-text {
      padding-bottom: var(--margin-size-2x);
      display: block;
      &.required {
        &::after {
          content: ' *';
          color: var(--staze-red);
        }
      }
    }

    input {
      display: block;
      padding: var(--margin-size-2x) var(--margin-size-2x) var(--margin-size-2x)
        var(--margin-size-4x);
      border-radius: 7px;
      border: solid var(--border-width) var(--form-border-color-normal);
      background-color: #fdfdfd;
      width: 100%;

      &:focus {
        outline: none;
        display: block;
        background-color: #f7fbff;
        border: solid var(--border-width) var(--form-border-color-highlight);
        box-shadow: inset 0px 0px 0px var(--border-width-highlight)
          var(--form-border-color-highlight);
      }
    }
  }
}
